.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: cornsilk;
}

.sign {
  font-size: 32px;
}

.index {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}
